.apple-footer {
  background-color: #f9f9f9;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.apple-footer .container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.apple-footer .footer-content p {
  margin-bottom: 10px;
}

.apple-footer .footer-links {
  list-style: none;
  padding: 0;
}

.apple-footer .footer-links li {
  display: inline;
  margin: 0 10px;
}

.apple-footer .footer-links li a {
  text-decoration: none;
  color: #555;
}

.apple-footer .footer-links li a:hover {
  color: #0070c9;
}

#cart-header {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 300px;
}