body {
    margin: 10px;
    padding:0;
    
}

.rf-a-head-wrapper {
    display: flex;
    align-items: flex-start;
    padding:52px 0 22px;
}
.rf-a-head{
    max-width:450px;
}
.rf-a-head h1 {
    font-size:48px;
    font-weight:100;
    color:black;
    padding:0 8px 0 8px;
    text-align:left;
    display:flex;
}

.a-head-payment-wrapper{
    padding-top:5px;
}
.price{
    font-size:15px;
    padding-left:8px;
    display:flex;
}
.payment {
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
    display:flex;
}
.a-head-right{
    margin-left:auto;
    padding-top:32px ;
    padding-right:80px;
    
}
.a-head-learn-items{
    display:left;
    flex-direction:column;
    align-items:flex-end;
    
}
.button {
    margin: 6px 0;
    padding: 12px 16px;
    border-radius: 18px;
    display:flex;
    align-items:center;
    background-color:#808080;
}
.button-text{
    font-size:12px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.row{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
}

.rf-content-col-left{
    width:60%;
    display:block;
    position:sticky;
    
}
.rf-content-col.right{
    width:40%;
    direction:ltr;
    text-align:left;
}
.rf-content-top{
    text-align: left;

}
.rf-pickcolor{
    border:0;
    
    padding-top:5px;
}

.rf-pcl{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

.color1{
    color:#1d1d1f;
    margin-bottom:13px;
}
.color2{
    color:#86868b;
}
.rf-pcl2{
    font-weight:600;
    padding-top:20px;
    margin-left:2px;
    
}

#dot1-m1 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:#0071e3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}


#dot1-m2 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:#cf79b8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}

#dot1-m3 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:#424245;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}
#dot1-m4 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:#f5eded;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}
#dot1-m5 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:#03520e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}
#dot1-m6 {
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 0 2px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-content:center;
    margin:4px 5px 4px 0;
}


.rf-buttoncl{
    padding-top:15px;
    padding-bottom:11px;
    margin:0 -1px;
}

.rf-caption{
    text-align: left;
}

.rf-caption-content{
    width:280px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif
}

