body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f9f9f9; /* Light gray background color */
}

.container {
  width: 90%; /* Use a percentage for containers */
  max-width: 1200px; /* Set a maximum width for larger screens */
} 


@media (max-width: 768px) {
  body {
      font-size: 0.875rem; /* 14px / 16px = 0.875 */
  }
}

/* Further decrease font size for screens up to 480px */
@media (max-width: 480px) {
  body {
      font-size: 0.75rem; /* 12px / 16px = 0.75 */
  }
}
.product-details img {
  max-width: 100%;
  width: 100%;
  max-height: 600px;
  margin-bottom: 10px;
}
.product-text-overlay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: bold;
  font-size: 54px;
} 


.product-text-overlay1 {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 300;
  font-size: 28px;
} 


.product-text-overlay2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 300;
  font-size: 28px;
} 


.product-main {
flex: 1;
}

.product-details {
  position: relative;
}

.button-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(94, 126, 212);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px;
}


.button-container1 {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container1 a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(39, 87, 218);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px;
}
.button-container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.product-mainhalf-screen{
  width: 50%; /* Chia mỗi sản phẩm chiếm 50% màn hình */
  box-sizing: border-box; /* Bao gồm padding và border vào width */
  padding: 5px; /* Thêm padding để tạo khoảng trống */
  float: left; /* Hiển thị sản phẩm cạnh nhau */
}

.product-mainhalf-screen .product-image img {
  width: 100%; /* Make the image fill the container */
  height: 3000px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.Halfoverlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}
.Halfoverlay1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}
.Halfoverlay2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}

.HalfoverlayU {
  position: absolute;
  top: 13.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 500;
  font-size: 19px;
}

.HalfoverlayU2 {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 500;
  font-size: 20px;
}

.HalfoverlayU3 {
  position: absolute;
  top: 13.5%;
  left: 73%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 500;
  font-size: 19px;
}


.HalfoverlayU4 {
  position: absolute;
  top: 13%;
  left: 70%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 500;
  font-size: 20px;
}


/* SLIDER */

.slider-container {
  position: relative;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px; /* Adjust margin to create space for the footer */
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  border-radius: 8px; /* Rounded corners for the slider */
}

.slide {
  flex: 0 0 100%;
  position: relative;
  overflow: hidden; /* Hide any overflow */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Rounded corners for images */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}



/* FOOTER*/
.footer {
  width: 100%;
  height: 810px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper {
  width: 970px;
}

.footer ul {
  font-size: 12px;
  list-style: none;
  color: #86868b;
  border-bottom: 1px solid var(--greyLight);
}

.footer ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links--column {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links--column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

.footer__links--column a {
  font-size: 12px;
  color: #515154;
  margin-bottom: 12px;
}

.footer__more {
  font-size: 13px;
  color: #86868b;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--greyLight);
}

.footer__more a {
  color: #06c;
}

.footer__copyright {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #86868b;
  margin-top: 4px;
  position: relative;
}

.footer__copyright .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copyright .links a {
  padding: 0 10px;
  color: #515154;
  border-left: 1px solid var(--greyLight);
}

.footer__copyright .links a:nth-child(1) {
  border: none;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
  
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  background-repeat: repeat-x;
  padding: 10px 70px;
}

.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.menu-items li {
  margin: 0 10px;
  position: relative;
}

.menu-items li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
}

.menu-items li a:hover {
  background-color: #555;
}

.menu-items {
  display: flex;
  align-items: center; /* Align items vertically */
}

.search-icon {
  display: flex;
  align-items: center;
  position: relative; /* Relative positioning for child elements */
}

.search-bar {
  display: none;
  max-width: 0;
  padding: 0;
  transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 24px;
}

.search-bar.active {
  display: block;
  max-width: 150px; /* Adjust the max-width as needed */
  padding: 5px; /* Adjust the padding as needed */
}

.search-bar input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 24px;
}

.menu-items .search-icon-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-items .cart-icon-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-items i {
  font-size: 18px;
  margin-right: 10px;
}



/*MENUBAR */
.submenu {
  list-style: none;
  display: none;
  position: absolute;
  background-color: whitesmoke; /* Slightly transparent white background */
  z-index: 1;
  width: 90px; /* Adjust the width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
}

.menu-items li:hover .submenu {
  display: block;
}

.submenu li {
  margin: 0;
}

.submenu li a {
  margin-left: -30%;
  padding: 10px; /* Adjusted padding for a more spacious feel */
  color: #333; /* Darker text color */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.submenu li a:hover {
  background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
  color: #0070c9; /* Apple-like blue for text on hover */
}


.submenu_W {
  list-style: none;
  display: none;
  position: absolute;
  background-color: whitesmoke; /* Slightly transparent white background */
  z-index: 1;
  width: 140px; /* Adjust the width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
}

.menu-items li:hover .submenu_W {
  display: block;
}

.submenu_W li {
  margin: 0;
}

.submenu_W li a {
  margin-left: -30%;
  padding: 10px; /* Adjusted padding for a more spacious feel */
  color: #333; /* Darker text color */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.submenu_W li a:hover {
  background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
  color: #0070c9; /* Apple-like blue for text on hover */
}


.submenu_E {
  list-style: none;
  display: none;
  position: absolute;
  background-color: whitesmoke; /* Slightly transparent white background */
  z-index: 1;
  width: 100px; /* Adjust the width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
}

.menu-items li:hover .submenu_E {
  display: block;
}

.submenu_E li {
  margin: 0;
}

.submenu_E li a {
  margin-left: -30%;
  padding: 10px; /* Adjusted padding for a more spacious feel */
  color: #333; /* Darker text color */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.submenu_E li a:hover {
  background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
  color: #0070c9; /* Apple-like blue for text on hover */
}


.search-icon img,
.menu-items li img {
  filter: invert(0);
  max-width: 19px;
  height: auto;
  margin-right: 10px;
}

.logo {
  max-width: 1.5%;
  height: auto;
}
@media (max-width: 768px) {
  .menu-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-items {
    margin-top: 10px;
    flex-direction: column;
  }

  .menu-items li {
    margin: 10px 0;
  }
}