body {
  font-family: Arial, Helvetica, sans-serif;
  margin: o;
  padding: 0;
  background-color:whitesmoke;
  
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  background-repeat: repeat-x;
  padding: 10px 70px;
}

.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin: 0 10px;
}

.menu-items li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-items li a:hover {
  background-color: #555;
}

.search-icon img,
.menu-items li img {
  filter: invert(0);
  max-width: 19px;
  height: auto;
  margin-right: 10px;
}

.logo {
  max-width: 1.5%;
  height: auto;
}
@media (max-width: 768px) {
  .menu-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-items {
    margin-top: 10px;
    flex-direction: column;
  }

  .menu-items li {
    margin: 10px 0;
  }
}