body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f9f9f9; /* Light gray background color */
}


.product-details img {
  max-width: 100%;
  width: 100%;
  max-height: 600px;
  margin-bottom: 10px;
}
.product-text-overlay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: bold;
  font-size: 54px;
} 


.product-text-overlay1 {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 300;
  font-size: 28px;
} 


.product-text-overlay2 {
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 300;
  font-size: 28px;
} 


.product-main {
flex: 1;
}

.product-details {
  position: relative;
}

.button-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(94, 126, 212);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px;
}


.button-container1 {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container1 a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(39, 87, 218);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px;
}
.button-container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.product-mainhalf-screen{
  width: 50%; /* Chia mỗi sản phẩm chiếm 50% màn hình */
  box-sizing: border-box; /* Bao gồm padding và border vào width */
  padding: 5px; /* Thêm padding để tạo khoảng trống */
  float: left; /* Hiển thị sản phẩm cạnh nhau */
}

.product-mainhalf-screen .product-image img {
  width: 100%; /* Make the image fill the container */
  height: 3000px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.Halfoverlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}
.Halfoverlay1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}
.Halfoverlay2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: bold;
  font-size: 40px;
}

.HalfoverlayU {
  position: absolute;
  top: 13.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 500;
  font-size: 19px;
}

.HalfoverlayU2 {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 500;
  font-size: 20px;
}

.HalfoverlayU3 {
  position: absolute;
  top: 13.5%;
  left: 68%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 500;
  font-size: 19px;
}


.HalfoverlayU4 {
  position: absolute;
  top: 13%;
  left: 64%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Transparent background */
  padding: 10px;
  color: rgb(49, 49, 49); /* Default text color */
  font-weight: 500;
  font-size: 20px;
}