body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9f9f9; /* Light gray background color */
  }
  
  .container {
    width: 90%; /* Use a percentage for containers */
    max-width: 1200px; /* Set a maximum width for larger screens */
  } 
  
  
  @media (max-width: 768px) {
    body {
        font-size: 0.875rem; /* 14px / 16px = 0.875 */
    }
  }
  
  /* Further decrease font size for screens up to 480px */
  @media (max-width: 480px) {
    body {
        font-size: 0.75rem; /* 12px / 16px = 0.75 */
    }
  }

  /*MENUBAR */
  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    background-repeat: repeat-x;
    padding: 15px 320px;
    height: 20px;
    font-size: 80%;
  }
  
  .menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .menu-items li {
    margin: 0 10px;
    position: relative;
  }
  
  .menu-items li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
  }
  
  .menu-items li a:hover {
    background-color: #555;
  }
  
  .menu-items {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .search-icon {
    display: flex;
    align-items: center;
    position: relative; /* Relative positioning for child elements */
  }
  
  .search-bar {
    display: none;
    max-width: 0;
    padding: 0;
    transition: max-width 0.3s ease-in-out, padding 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 24px;
  }
  
  .search-bar.active {
    display: block;
    max-width: 150px; /* Adjust the max-width as needed */
    padding: 5px; /* Adjust the padding as needed */
  }
  
  .search-bar input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 24px;
  }
  
  .menu-items .search-icon-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .menu-items .cart-icon-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .menu-items i {
    font-size: 18px;
    margin-right: 10px;
  }
  
  
.submenu {
    list-style: none;
    display: none;
    position: absolute;
    background-color: rgb(255, 253, 253); /* Slightly transparent white background */
    z-index: 1;
    width: 90px; /* Adjust the width as needed */
    border-radius: 10px; /* Rounded corners */
  }
  
  .menu-items li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    margin: 0;
  }
  
  .submenu li a {
    margin-left: -37%;
    padding: 10px; /* Adjusted padding for a more spacious feel */
    color: #333; /* Darker text color */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submenu li a:hover {
    background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
    color: #0070c9; /* Apple-like blue for text on hover */
  }
  
  
  .submenu_W {
    list-style: none;
    display: none;
    position: absolute;
    background-color: whitesmoke; /* Slightly transparent white background */
    z-index: 1;
    width: 140px; /* Adjust the width as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
  }
  
  .menu-items li:hover .submenu_W {
    display: block;
  }
  
  .submenu_W li {
    margin: 0;
  }
  
  .submenu_W li a {
    margin-left: -30%;
    padding: 10px; /* Adjusted padding for a more spacious feel */
    color: #333; /* Darker text color */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submenu_W li a:hover {
    background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
    color: #0070c9; /* Apple-like blue for text on hover */
  }
  
  
  .submenu_E {
    list-style: none;
    display: none;
    position: absolute;
    background-color: whitesmoke; /* Slightly transparent white background */
    z-index: 1;
    width: 100px; /* Adjust the width as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
  }
  
  .menu-items li:hover .submenu_E {
    display: block;
  }
  
  .submenu_E li {
    margin: 0;
  }
  
  .submenu_E li a {
    margin-left: -30%;
    padding: 10px; /* Adjusted padding for a more spacious feel */
    color: #333; /* Darker text color */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submenu_E li a:hover {
    background-color:rgba(0, 122, 204, 0.1); /* Light gray background on hover */
    color: #0070c9; /* Apple-like blue for text on hover */
  }
  
  
  .search-icon img,
  .menu-items li img {
    filter: invert(0);
    max-width: 19px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo {
    max-width: 1.5%;
    height: auto;
  }





  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;

  }

.product-container {
  display: flex; /* Make it a flex container */
  align-items: flex-start; /* Align children to the top */
  justify-content: center;
  width: 100%;
  margin: 0; /* Adjust margin as needed */
  padding: 0; /* Adjust padding as needed */
}

.viewgallery{
  width:100%;
  max-width:430px;
  height:99px;
  
  text-align:center;
  padding:22px 0;
}

.configuration-sticky{
  margin-left: 16%;
    margin-top: 130px;
    position: sticky;
    top: 0;
}

.buystrip{
  text-align:center;
  padding-bottom:20px;
  font-size:12px;
}
.chatspecial{
  text-align:center;
  font-weight:400;
  font-size:14px;
  line-height:1.42859;
  padding-bottom :80px;
}



.image {
    width: 410px; /* Set a fixed width for the image */
    height: auto; /* Maintain the aspect ratio */
  
    cursor:pointer;
    text-align:center;


}

.description {
    padding: 60px;
    background-color: #fff;
    border-bottom: 0.2px solid #000000; /* Adding a blue border line at the bottom */
    max-height: 100%; /* Adjust the maximum height as needed */
    overflow-y: hidden;
    width: 900px;
    margin-right: 10%; /* Reduce the left margin */
}

.container {
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container1 {
  display: flex;
}


.price {
  display: inline; /* Display the price on the same line as the memory option */
  margin-left:  44%; /* Add some space between the memory option and the price */
  font-weight: normal; /* Make the price text regular weight (optional) */
}

.pricea {
  display: inline; /* Display the price on the same line as the memory option */
  margin-left:  46%; /* Add some space between the memory option and the price */
  font-weight: normal; /* Make the price text regular weight (optional) */
}

.price1a {
  display: inline; /* Display the price on the same line as the memory option */
  margin-left:  47%; /* Add some space between the memory option and the price */
  font-weight: normal; /* Make the price text regular weight (optional) */
}

.price1b {
  display: inline; /* Display the price on the same line as the memory option */
  margin-left:  51%; /* Add some space between the memory option and the price */
  font-weight: normal; /* Make the price text regular weight (optional) */
}
.price2 {
  display: inline; /* Display the price on the same line as the memory option */
  margin-left:  36%; /* Add some space between the memory option and the price */
  font-weight: normal; /* Make the price text regular weight (optional) */
}


.card1 {
  width: 100%;
  height: 85px;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 8px 0 0  8px;
  cursor: pointer;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Hide overflowing content */
  
}
.card2 {
  width: 100%;
  height: 85px;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 0 8px 8px  0;
  cursor: pointer;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Hide overflowing content */
}

.card1 h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  margin-left: 24.5%;
}

.card1 .price2 {
  margin-left: 27.5%;
  font-size: 18px;
  color: #000000;
  text-align: center;
  white-space: nowrap; /* Prevent price from wrapping */
  overflow: hidden; /* Hide overflowing price */
}

.card2 h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 ;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  margin-left: 24.5%;
}

.card2 .price2 {
  margin-left: 27.5%;
  font-size: 18px;
  color: #000000;
  text-align: center;
  white-space: nowrap; /* Prevent price from wrapping */
  overflow: hidden; /* Hide overflowing price */
}
.container1.text{
  text-align: center;
}
.saveitem{
  margin-left:25px;
  margin-right:25px;
}
.saveitem h2{
  padding-top:30px;
  font-size:14px;
  font-weight:600;
  margin:0;
}
.saveitem-content{
  font-size:14px;
  font-weight:400;
  line-height:1.42859;
  letter-spacing: .016em;
  margin-bottom:10px;
}
.saveitem img{
 height:15px;
}

#preInstalledOption1 {
  background-color: #ffffff;
  color: #000;
}

#preInstalledOption2 {
  background-color: #ffffff;
  color: #000;
}


#preInstalledOption1:hover {
  border-color: #0070c9;

}

#preInstalledOption2:hover {
  border-color: #0070c9;

}

.card {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s;
  cursor: pointer; /* Change cursor style to pointer on hover */
  flex: 1;

}
.card.selected {
  border-color: #0070c9;

}
.card:hover {
  transform: scale(1.005);
  border-color: #0070c9;
}
.card.selected:hover {
  border-color: #0070c9;
}


select {
  appearance: none;
  background-color: transparent;
  border: 0.5px solid #000000;
  border-radius: 8px;
  padding: 4%;
  font-size: 18px !important;
  color: #000000;
  width: 106%;
  cursor: pointer;
  position: relative;
  margin-top: 4%;
}



h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 12.5px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 21px;
  font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

/* Apple-style color for links */
a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




/* FOOTER*/
.footer {
  width: 100%;
  height: 810px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper {
  width: 970px;
}

.footer ul {
  font-size: 12px;
  list-style: none;
  color: #86868b;
  border-bottom: 1px solid var(--greyLight);
}

.footer ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links--column {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links--column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.footer__links--column a {
  font-size: 12px;
  color: #515154;
  margin-bottom: 12px;
}

.footer__more {
  font-size: 13px;
  color: #86868b;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--greyLight);
}

.footer__more a {
  color: #06c;
}

.footer__copyright {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #86868b;
  margin-top: 4px;
  position: relative;
}

.footer__copyright .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copyright .links a {
  padding: 0 10px;
  color: #515154;
  border-left: 1px solid var(--greyLight);
}

.footer__copyright .links a:nth-child(1) {
  border: none;
}